<configuration>
  <Section Name="Info">
    <Key Name="Name" Value="INTL" />
    <Key Name="Version" Value="1.00.000" />
    <Key Name="DiskSpace" Value="8000" Comment=";DiskSpace requirement in KB"/>
  </Section>
  <Section Name="Startup">
    <Key Name="CmdLine" Value="" />
    <Key Name="Product" Value="Standard SDK for Windows CE .NET" />
    <Key Name="PackageName" Value="STANDARD_SDK.msi" />
    <Key Name="MsiVersion" Value="1.00.5104.0" />
    <Key Name="EnableLangDlg" Value="Y" />
  </Section>
  <Section Name="0x0409">
    <Key Name="TITLE" Value="Choose Setup Language" />
    <Key Name="DESCRIPTION" Value="Select the language for this installation" />
    <Key Name="OK" Value="OK" />
    <Key Name="Cancel" Value="Cancel" />
  </Section>
</configuration>
